@font-face {
	font-family: 'FontHotelAcb';
	src:url('fonts/FontHotelAcb.eot?c3g7sh');
	src:url('fonts/FontHotelAcb.eot?c3g7sh#iefix') format('embedded-opentype'),
		url('fonts/FontHotelAcb.ttf?c3g7sh') format('truetype'),
		url('fonts/FontHotelAcb.woff?c3g7sh') format('woff'),
		url('fonts/FontHotelAcb.svg?c3g7sh#FontHotelAcb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-hotel"], [class*=" icon-hotel"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'FontHotelAcb' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hoteltPwfvcX2W:before {
	content: "\e940";
}
.icon-hotelekKXFIe1a:before {
	content: "\e900";
}
.icon-hotelVsNKFqPNV:before {
	content: "\e901";
}
.icon-hotelWGeGruIwB:before {
	content: "\e902";
}
.icon-hotelehajUMkj8:before {
	content: "\e903";
}
.icon-hotelFduWUkRwC:before {
	content: "\e904";
}
.icon-hotelIFRd73KxR:before {
	content: "\e905";
}
.icon-hotelNVWTr8KgR:before {
	content: "\e906";
}
.icon-hotelUal3CU3j:before {
	content: "\e907";
}
.icon-hotelA5j9X9NWXB:before {
	content: "\e908";
}
.icon-hotelAHEaU8hlKA:before {
	content: "\e909";
}
.icon-hotelAvFhXQltXo:before {
	content: "\e90a";
}
.icon-hotelBkuQUyRBvr:before {
	content: "\e90b";
}
.icon-hotelCUnE8ygoeO:before {
	content: "\e90c";
}
.icon-hoteldNvXJbDdzD:before {
	content: "\e90d";
}
.icon-hotelDsp5hCzbsh:before {
	content: "\e90e";
}
.icon-hotelE2evQNhWwg:before {
	content: "\e90f";
}
.icon-hoteleToEQwQHcB:before {
	content: "\e910";
}
.icon-hotelfBFSyusmLD:before {
	content: "\e911";
}
.icon-hotelFhW05SDO6V:before {
	content: "\e912";
}
.icon-hotelgCz3E1vABa:before {
	content: "\e913";
}
.icon-hotelGe4ouMEeqo:before {
	content: "\e914";
}
.icon-hotelgNwF1u7B8U:before {
	content: "\e915";
}
.icon-hotelhovhunA04E:before {
	content: "\e916";
}
.icon-hotelIOJvOQORk9:before {
	content: "\e917";
}
.icon-hoteljNU2FPm2yP:before {
	content: "\e918";
}
.icon-hoteljPXusuVSAQ:before {
	content: "\e919";
}
.icon-hotelLEyLlUTb3X:before {
	content: "\e91a";
}
.icon-hotellQS6tyq7hp:before {
	content: "\e91b";
}
.icon-hotelNcFwDdrcF7:before {
	content: "\e91c";
}
.icon-hotelNiLoWAJKox:before {
	content: "\e91d";
}
.icon-hotelNixTXPujI7:before {
	content: "\e91e";
}
.icon-hotelnMmylm2XUr:before {
	content: "\e91f";
}
.icon-hoteloRu5M9J4nw:before {
	content: "\e920";
}
.icon-hotelPjzmlKeslh:before {
	content: "\e921";
}
.icon-hotelpLygShaukd:before {
	content: "\e922";
}
.icon-hotelPr1SnMPuGW:before {
	content: "\e923";
}
.icon-hotelPvX05hoOHU:before {
	content: "\e924";
}
.icon-hotelR7W4IObbEI:before {
	content: "\e925";
}
.icon-hotelrOd2BQsXU0:before {
	content: "\e926";
}
.icon-hotelRq2FofGL9l:before {
	content: "\e927";
}
.icon-hotelruQG38gXje:before {
	content: "\e928";
}
.icon-hotelScFp1eVUNu:before {
	content: "\e929";
}
.icon-hotelSEV294lfuJ:before {
	content: "\e92a";
}
.icon-hotelSp3uKwWgqg:before {
	content: "\e92b";
}
.icon-hotelspi50QrloW:before {
	content: "\e92c";
}
.icon-hotelSUhpRMSha5:before {
	content: "\e92d";
}
.icon-hotelT4hgAMDwR0:before {
	content: "\e92e";
}
.icon-hotelTJTEBarLKU:before {
	content: "\e92f";
}
.icon-hotelTP5jwLX7Lk:before {
	content: "\e930";
}
.icon-hotelU0ptBvj8uh:before {
	content: "\e931";
}
.icon-hotelujcdb9wHdW:before {
	content: "\e932";
}
.icon-hotelUqnBvXpJeW:before {
	content: "\e933";
}
.icon-hoteluWK4jixpox:before {
	content: "\e934";
}
.icon-hotelUxs8zs2l7J:before {
	content: "\e935";
}
.icon-hotelUyuvpSUvHy:before {
	content: "\e936";
}
.icon-hotelv5vul3KAqz:before {
	content: "\e937";
}
.icon-hotelv7trK64P1T:before {
	content: "\e938";
}
.icon-hotelvu8uT6N6Ab:before {
	content: "\e939";
}
.icon-hotelVwq65FFLn8:before {
	content: "\e93a";
}
.icon-hotelwaGR1eK2Gh:before {
	content: "\e93b";
}
.icon-hotelWFeSkuHiNS:before {
	content: "\e93c";
}
.icon-hotelwSPXM8qG2v:before {
	content: "\e93d";
}
.icon-hotelXqXUDbal4O:before {
	content: "\e93e";
}
.icon-hotelyOtiP3TXlL:before {
	content: "\e93f";
}

